<ion-header translucent>
  <ion-toolbar>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked" color="{{this.username?'dark':'danger'}}">Username<ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input required type="text" ionChange="handleNameValue()" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="{{this.password?'dark':'danger'}}">Password<ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input required type="text" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="{{this.email?'dark':'danger'}}">Email<ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input required type="email" ionChange="handleEmailValue()" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="{{this.home?'dark':'danger'}}">Home Address<ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input required type="text" [(ngModel)]="home"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="{{this.work?'dark':'danger'}}">Work Address<ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input required type="text" [(ngModel)]="work"></ion-input>
    </ion-item>


  </ion-list>

  <ion-row>
    <ion-col>
      <ion-button expand="block" color="dark" type="submit" class="ion-no-margin" [routerLink]="['/login']">Cancel
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="dark"
        disabled="{{(!this.email)||(!this.username)||(!this.password)||(!this.home)||(!this.work)}}"
        (click)="createUser()" type="submit" class="ion-no-margin">Create account</ion-button>
    </ion-col>
  </ion-row>
</ion-content>