<ion-header translucent>
  <ion-toolbar>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked" color="{{this.usernamePass?light:danger}}">Username<ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input required type="text" ionChange="handleNameValue()" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text" ionChange="handlePasswordValue()" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="{{this.emailPass?light:danger}}">Email<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="email" ionChange="handleEmailValue()" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="{{this.home!=''?light:danger}}">Home Address<ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input required type="text" ionChange="handleHomeAddressValue()" [(ngModel)]="home"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="{{this.work!=''?light:danger}}">Work Address<ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input required type="text" ionChange="handleWorkAddressValue()" [(ngModel)]="work"></ion-input>
    </ion-item>


  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" color="dark" disabled="{{(!this.emailPass)&&(!this.usernamePass)}}" type="submit"
      class="ion-no-margin">Create account</ion-button>
  </div>
</ion-content>