<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


  <!-- <form [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
    <ion-item>
      <ion-label position="floating">Source</ion-label>
      <ion-input formControlName="source"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Destination</ion-label>
      <ion-input formControlName="destination"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="directionForm.invalid">Get Direction</ion-button>
  </form> -->
  <div #mapContainer id="map"></div>
  <ion-fab vertical="center" horizontal="start" slot="fixed">
    <ion-fab-button [routerLink]="" (click)="JumptoNavigation()" >
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="calculateAndDisplayRoute()">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>