<ion-header [translucent]="true">
  <br>
  <br>
  <br>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="minusDay()">
        <ion-icon name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="plusDay()">
        <ion-icon name="arrow-forward-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Selected Date: {{selectedDateString}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="shoppingList">
    <ion-item-sliding *ngFor="let item of shoppingList">
      <ion-item>
        <ion-thumbnail>
          <img src="{{item.img}}">
        </ion-thumbnail>
        <ion-col size="1"></ion-col>
        <ion-label>
          <h2>{{item.displayedName}}</h2>
          <h3>{{item.store}}</h3>
          <h4>{{item.price}}</h4>
        </ion-label>
        <ion-checkbox slot="end" [(ngModel)]="item.isChecked"></ion-checkbox>
      </ion-item>
    </ion-item-sliding>

  </ion-list>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="generateMap()">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>