<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="map">
    <ion-button class="map_button" color="primary">Maps</ion-button>
  </div>

  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-reorder>
      <ion-item *ngFor="item of shopplingList">

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{item.itemName}}</ion-card-subtitle>
            <ion-card-title>{{item.store}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>{{item.price}}</ion-card-content>
        </ion-card>  
      </ion-item>
    </ion-reorder>
  </ion-reorder-group>
 
  
</ion-content>
