<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>
<br>


    
  <ion-list ng-cloak>
    <ion-item-sliding *ngFor="let item of shoppingList">
      <ion-item>
        <ion-card>
          <ion-label>{{item.itemName}}</ion-label>
          <ion-label>{{item.store}}</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-card>
      </ion-item>
    </ion-item-sliding>

  </ion-list>

<ion-card>
  <ion-button (click)="generateMap()">
    <ion-icon name="logo-buffer"></ion-icon>
    </ion-button>
</ion-card>


 
  
</ion-content>
