ion-content ion-toolbar {
    --background: translucent;
  }

  ion-item{
    --min-height:400px;
  }
  ion-input{
      --background: lightgrey    ;
  }
  ion-thumbnail{
    --min-height:400px;
  }

.User_id {
    text-align: center;
    font-size: xx-large;
    
}

.password {
    text-align: center;
    font-size: xx-large;
    
}

.login{
    text-align: center;
    font-size: large;
    
}

