<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col class="align-self-stretch">

        <ion-item lines="none" color="light">
          <img src="/assets/icon/shopresso.png">
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label position="stacked">
          <h2>Username</h2>
        </ion-label>
        <ion-input color="dark" autofocus=true clear-input=true placeholder="Username" [(ngModel)]="username">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="stacked">
          <h2>Password</h2>
        </ion-label>
        <ion-input type="password" clear-input=true color="dark" placeholder="Password" [(ngModel)]="password">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="dark" class="login" size="large" expand="block" (click)="login()">Login</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" class="login" size="large" expand="block" [routerLink]="['/signup']">Sign Up
        </ion-button>
      </ion-col>
    </ion-row>





  </ion-grid>

</ion-content>