ion-content ion-toolbar {
    --background: translucent;
  }

.User_id {
    text-align: center;
    font-size: xx-large;
    
}

.password {
    text-align: center;
    font-size: xx-large;
    
}

.login{
    text-align: center;
    font-size: large;
    
}

