<ion-content [fullscreen]="true">
  <ion-list *ngIf="this.searchService.searchResult">
    <ion-item-sliding *ngFor="let item of this.searchService.searchResult">
      <ion-item>
        <ion-thumbnail>
          <img src="{{item.img}}">
        </ion-thumbnail>
        <ion-col size="1"></ion-col>
        <ion-label>
          <h2>{{item.name}}</h2>
          <h3>{{item.store}}</h3>
          <h4>{{item.price}}</h4>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <ion-input clear-input=true color="dark" placeholder="Displayed Name" [(ngModel)]="displayedName">
        </ion-input>

        <ion-item-option (click)="clickCancel()">
          Cancel
        </ion-item-option>
        <ion-item-option (click)="clickAdd()">
          Add
        </ion-item-option>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>




</ion-content>